*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f4f4f4;
}
.bg{
    width: 100%;
    height: 140px;
    background-image: url(../images/bg.jpg);
    background-size: 100% 140px;
    position: relative;
}
.bg img{
    width: 100px;
    border-radius: 50px;
    position: absolute;
    top: 17px;
    left: 50px;
    border: 3px solid #fff;
}
.bg h1{
    height: 60px;
    line-height: 60px;
    position: absolute;
    top: 40px;
    left: 200px;
    color: #fff;
}
.bg h1 span{
    font-size: 20px;
    font-weight: 500;
}
.clear::after , .clear::before{
    content: "";
    display: block;
    clear: both;
}
.content{
    width: 1200px;
    margin: 0 auto;
    margin-top: 25px;
}
.topic{
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}
.top_left{
    float: left;
    width: 360px;
    height: 225px;
}
.top_left img{
    width: 360px;
    height: 225px;
}
.top_txt{
    float: right;
    width: 750px;
    position: relative;
    height: 225px;
}
.info{
    font-size: 18px;
    color: #FF7D00;
    margin-top: 3px;
}
.info span{
    margin-right: 25px;
}
.operate{
    height: 28px;
    margin-top: 16px;
}
.operate img{
    height: 28px;
    vertical-align: middle;
    margin-right: 5px;
}
.operate span{
    font-size: 18px;
    color: #707070;
    margin-right: 30px;
    vertical-align: middle;
}
.operate span:hover{
    color: #7EB712;
}
.top_txt p{
    font-size: 16px;
    margin-top: 20px;
    overflow:hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.top_btn{
    position: absolute;
    left: 0;
    bottom: 0;
}
.top_btn a{
    height: 36px;
    padding: 0 26px;
    border-radius: 18px;
    float: left;
    margin-right: 30px;
    border: 1px solid #2c2c2c;
    line-height: 36px;
    color: #2c2c2c;
}
.top_btn img{
    width: 22px;
    margin-right: 4px;
    vertical-align: middle;
}
.top_btn a:hover{
    border-color: blue;
    background-color: #f4f4f4;
}
a{
    text-decoration: none;
}
.renew{
    padding: 30px;
    margin-top: 25px;
    background-color: #fff;
    border-radius: 25px;
    box-sizing: border-box;
}
.head{
    height: 40px;
}
.head h2{
    float: left;
    margin-right: 20px;
    line-height: 40px;
    border-bottom: 3px solid yellowgreen;
}
.head p{
    float: left;
    margin: 0 4px;
    line-height: 40px;
    color: #707070;
}
.fj{
    height: 36px;
    margin-top: 15px;
}
.fj a{
    float: left;
    height: 36px;
    padding: 0 18px;
    line-height: 36px;
    font-weight: 500;
    margin-right: 16px;
    border-radius: 18px;
    color: #2c2c2c;
    border: 2px solid #2c2c2c;
}
.fj a:nth-child(1){
    font-weight: 600;
    color: #000;
    border-color: #A38408;
    background-color: #FEFFE8;
}
.renew ul{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}
.renew li{
    width: 260px;
    height: 54px;
    margin-bottom: 10px;
    border: 1px solid #c9cdd4;
    border-radius: 5px;
}
.renew li a{
    display: block;
    height: 54px;
    line-height: 54px;
    padding-left: 25px;
    box-sizing: border-box;
    color: #2c2c2c;
    font-size: 16px;
}
.renew li:hover{
    border-color: #7EB712;
}
.renew li:hover a{
    color: #7EB712;
    font-weight: 600;
}
.cont{
    margin-top: 25px;
    margin-bottom: 40px;
}
.commnet{
    float: left;
    width: 780px;
    padding: 30px;
    background-color: #fff;
    border-radius: 25px;
    box-sizing: border-box;
}
.recommend{
    float: right;
    width: 395px;
    padding: 30px;
    border-radius: 25px;
    box-sizing: border-box;
    background-color: #fff;
}
.head .all{
    float: right;
    line-height: 40px;
    color: #515151;
    font-size: 14px;
}
.commnet ul{
    margin-top: 30px;
    list-style: none;
}
.commnet li{
    margin-bottom: 30px;
    border-bottom: 1px solid #c9cdd4;
    position: relative;
}
.tx_zan{
    height: 60px;
    position: relative;
}
.tx_zan .tx{
    position: absolute;
    left: 0;
    top: 0;
}
.tx img{
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 30px;

}
.name{
    float: left;
    margin-left: 10px;
}
.name p{
    padding-top: 10px;
    font-size: 22px;
}
.time{
    font-size: 16px;
    color: #707070;
    margin-top: 5px;
}
.zan{
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 25px;
}
.zan img{
    width: 20px; 
    margin-right: 5px;

}
.zan span{
    font-size: 20px;
    color: #707070;
}
.commnet li>p{
    padding: 20px 0;
    padding-left: 70px;
    box-sizing: border-box;

}
.recommend ul{
    margin-top: 30px;
    list-style: none;
}
.recommend li{
    margin-bottom: 35px;
}
.recommend li>a{
    display: block;
}
.recommend li>a>img{
    width: 335px;
}
.recommend li div{
    height: 40px;
    width: 335px;
    position: relative;
}
.recommend li div a:nth-child(1){
    position: absolute;
    left: 0;
    color: #000;
    line-height: 30px;
    font-size: 20px;
}
.recommend h3{
    font-size: 20px;
}
.recommend li div a{
    position: absolute;
    top: 10px;
    right: 0;
    color: #707070;
    font-size: 18px;
}
.recommend li div a img{
    width: 20px;
    margin-right: 4px;
}
footer p{
    height: 80px;
    line-height: 80px;
    width: 1200px;
    margin: 0 auto;
    border-top: 1px solid #e5e6eb;
    text-align: center;
    color: #fff;
}
footer{
    background-color: #1d2129;
    padding-top: 45px;
    margin-top: 50px;
}
.tab_2{
    text-align: center;
    height: 50px;
}
.tab_2 span{
    margin: 0 20px;
    font-size: 16px;
    color: #fff;
}